$white: #fff;
$black: #000;
$red: #c00;
$blue: #00c;

$defaultFontFamily: 'Helvetica', 'Arial', sans-serif;
$defaultFontSize: 14px;
$defaultBackgroundColor: $white;
$defaultTextColor: $black;
$defaultLineHeight: 1.2;
